# Frontend Environment Variables

VITE_API_URL=http://localhost:5000/api
VITE_COGNITO_DOMAIN=https://cloudmart.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxx
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxx
